/05_LBM_Fluid_Flow_Theory.docx
/06_LBM_Fluid_Flow_Algorythm.docx
/07_Fluid_Flow_Zadanie3.docx
/Bednarz_Weronika_LBM_flow.docx
/Bednarz_Weronika_LBM_flow.pdf
/generate_gif.py
/gif
/Litewka_Jakub_LBM_flow.pdf
/tempCodeRunnerFile.py